CodeGeneratorOpenness/obj/*
.vs/*

CodeGeneratorOpenness/bin/Debug/Temp/temp.xml
CodeGeneratorOpenness/Ressources/Thumbs.db
CodeGeneratorOpenness/Thumbs.db
CodeGeneratorOpenness/Ressources/Thumbs.db
*.xlsx
CodeGeneratorOpenness/bin/Debug/Export/*.xml
CodeGeneratorOpenness/bin/Debug/Import/*.xml
Sample/Thumbs.db
test-playwright.js
node_modules/
package-lock.json
package.json
CodeGeneratorOpenness/template/
CodeGeneratorOpenness/bin/
TIAPortalOpenness_enUS_en-US/
